body{
    
    background-color: #1F2937;
    font-family: 'Roboto';
}

.header{
    
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 16px;
    
}

.links{
    display: flex;
    justify-content: flex-end;
    width: 89%;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo{
    font-size: 30px;
    font-weight: 900;
}

.textButtonImg{
    
    
    display: flex;
    margin-top: 100px;
    justify-content: center;
    padding-bottom: 120px;
}


.textAndButton{
    color: white;
    padding-right: 50px;
    max-width: 900px;
}

h1{
    font-size: 50px;
    font-weight:900;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-size: 18px;
    font-family: 
}

button{
    background-color: #3882F6;
    color: white;
    padding: 9px 30px;
    font-size: 18px;
    border-radius: 12%;
}

.informations{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.illustrations{
    display: flex;
    justify-content: center;
    gap: 50px;

}
h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.infotext{
    max-width: 161px;
    text-align: center;
    font-size: 18px;
    color: rgb(97, 97, 97);
}

.ill{
    border-radius: 9px;
    border: 3px solid #3882F6;
}

.quote{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quoteText{
    font-size: 38px;
    font-style: italic;
    font-weight: light;
    max-width: 850px;
    
}

.author{
    
    padding-top: 20px;
    font-size: 19px;
    font-weight: bold;
    
    
}

.signUp{
    background-color: #e5e7eb;
    margin: 0;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    margin: 0;
}

.banner{
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    height: 150px;
    align-items: center;
    width: 900px;
    gap: 25px;
    color: white;
}

.action{
    display: flex; 
    flex-direction: column;
}

#botButton{
    border: 1px solid;
}

.footer{
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 28px;
    font-size: 14px;
}